body {
    justify-items: center;
    align-content: center;
    height: 100vh;
    
}
.form section {
    box-shadow: 5px 7px 10px 1px rgb(179 165 165 / 30%);
    display: flex;
    flex-direction: column;
    gap: 8px;
}